{% extends "base.html" %}

{% block content %}
	<div ng-controller="IndexController as index" class="row">
		<div class="col-sm-12" id="featured"> 
			<div class="page-header text-muted">
				Active
			</div> 
		</div>
		<div ng-hide="index.active.length !== 0" class="row">
			<p class="col-sm-10 text-muted">No topics yet</p>
		</div>
		<div ng-show="index.active.length !== 0" ng-repeat="a in index.active" class="row">
			<div class="col-sm-10">
				<h3 class="break"><a href="/topic/{$ a.id $}">{$ a.title $}</a></h3>
				<h4><span class="label label-default">{$ a.owner.username $}</span></h4><h4>
				<small class="text-muted"><span am-time-ago="a.date_add"></span> • <a href="/topic/{$ a.id $}" class="text-muted">Read More</a></small>
				</h4>
			</div>
			<div class="col-sm-2">
				<a href="#" class="pull-right">{$ a.votes $}</a>
			</div> 
		</div>
		<div class="col-sm-12" id="featured"> 
			<div class="page-header text-muted">
				Voting
			</div> 
		</div>
		<div ng-hide="index.voting.length !== 0" class="row">
			<p class="col-sm-10 text-muted">No topics yet</p>
		</div>
		<div ng-show="index.voting.length !== 0" ng-repeat="a in index.voting" class="row">
			<div class="col-sm-10">
				<h3 class="break"><a href="/topic/{$ a.id $}">{$ a.title $}</a></h3>
				<h4><span class="label label-default">{$ a.owner.username $}</span></h4><h4>
				<small class="text-muted"><span am-time-ago="a.date_add"></span> • <a href="/topic/{$ a.id $}" class="text-muted">Read More</a></small>
				</h4>
			</div>
			<div class="col-sm-2">
				<a href="#" class="pull-right">{$ a.votes $}</a>
			</div> 
		</div>
		<div class="col-sm-12" id="featured"> 
			<div class="page-header text-muted">
				Archive
			</div> 
		</div>
		<div ng-hide="index.archive.length !== 0" class="row">
			<p class="col-sm-10 text-muted">No topics yet</p>
		</div>
		<div ng-show="index.archive.length !== 0" ng-repeat="a in index.archive" class="row">
			<div class="col-sm-10">
				<h3 class="break"><a href="/topic/{$ a.id $}">{$ a.title $}</a></h3>
				<h4><span class="label label-default">{$ a.owner.username $}</span></h4><h4>
				<small class="text-muted"><span am-time-ago="a.date_add"></span> • <a href="/topic/{$ a.id $}" class="text-muted">Read More</a></small>
				</h4>
			</div>
			<div class="col-sm-2">
				<a href="#" class="pull-right">{$ a.votes $}</a>
			</div> 
		</div>
	</div>
{% endblock %}