{% extends "base.html" %}

{% block content %}
  <div ng-controller="StateController as state" class="row">
    <div class="col-sm-12" id="featured"> 
      <div class="page-header text-muted">
        {$ state.title $}
      </div> 
    </div>
    <div ng-hide="state.topics.length !== 0" class="row">
      <p class="col-sm-10 text-muted">No topics yet</p>
    </div>
    <div ng-show="state.topics.length !== 0" ng-repeat="a in state.topics | orderBy:'-id'" class="row">
      <div class="col-sm-10">
        <h3 class="break">{$ a.title $}</h3>
        <h4><span class="label label-default">{$ a.owner.username $}</span></h4><h4>
        <small class="text-muted"><span am-time-ago="a.date_add"></span> • <a href="/topic/{$ a.id $}" class="text-muted">Read More</a></small>
        </h4>
      </div>
      <div class="col-sm-2">
        <a href="#" class="pull-right">{$ a.votes $}</a>
      </div> 
    </div>
  </div>
{% endblock %}