{% extends "base.html" %}

{% block content %}
  <div ng-controller="TopicController as topicController" class="row">
    <div class="col-sm-10">
      <h3 class="page-header">
        <div class="topic-header break">{$ topicController.topic.title $}</div>
      </h3>
      <h4>
        <span class="label label-default">{$ topicController.topic.owner.username $}</span> 
        <div class="pull-right text-muted rating-block">
          <span class="rate"
            ng-class="{red: (topicController.topic.votes < 0), green: (topicController.topic.votes > 0) }">
            {$ topicController.topic.votes || '0' $}
          </span>
          <i ng-click="topicController.likeTopic(false)" class="fa fa-long-arrow-down"></i>
          <i ng-click="topicController.likeTopic(true)" class="fa fa-long-arrow-up"></i>
        </div>
      </h4>
      <h4>
        <small class="text-muted"><span am-time-ago="topicController.topic.date_add"></span></small>
      </h4>
      <br>

      <div ng-hide="topicController.topic.comments.length !== 0">
        <p class="text-muted">No comments yet.</p>
      </div>
      <div ng-repeat="a in topicController.topic.comments" class="comment-item">
    
        <div class="comment-author" id="comment{$ a.id $}">
            <span class="label label-default">{$ a.user.username $}</span> <span class="comment-time" am-time-ago="a.date_add"></span> <span class="comment-reply-to" ng-if="a.q_comment_id">as comment to <span>{$ a.q_comment_id.username $}</span></span>
        </div>
        <div class="comment-text" ng-click="topicController.comment($event, a)">{$ a.text $}</div>
    
      </div>

      <hr>

      <form name="commentForm" novalidate class="form" ng-submit="commentForm.$valid && topicController.submit()">
        {% csrf_token %}
        <div class="form-group">
          <textarea class="form-control comment-area" ng-model="topicController.text" required minlength="1" placeholder="Sample argument" rows="5"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Comment</button> <div class="text-muted reply-to-block" ng-if="topicController.to">as a reply to <u class="reply-to-person">{$ topicController.to.username $}</u></div>
        </div>
        <p ng-if="topicController.error.text">{$ topicController.error.text $}</p>
      </form>

    </div>
    <div class="col-sm-2">
      <a href="#" class="pull-right">{$ topicController.topic.votes $}</a>
    </div>
  </div>
{% endblock %}