{% extends "base.html" %}

{% block content %}
  <div ng-controller="TopicController as topicController" class="row">
    <div class="col-sm-10">
      <h3 class="page-header">
        <div class="topic-header break">{$ topicController.topic.title $}</div>
      </h3>
      <h4>
        <span class="label label-default">{$ topicController.topic.owner.username $}</span> 
        <div class="pull-right text-muted rating-block">
          <span class="rate"
            ng-class="{red: (topicController.topic.sum < 0), green: (topicController.topic.sum > 0) }">
            {$ topicController.topic.sum || '0' $}
          </span>
          <i ng-if="topicController.isLikable()" ng-click="topicController.likeTopic(false)" class="fa fa-long-arrow-down"></i>
          <i ng-if="topicController.isLikable()" ng-click="topicController.likeTopic(true)" class="fa fa-long-arrow-up"></i>
        </div>
      </h4>
      <h4>
        <small class="text-muted"><span am-time-ago="topicController.topic.date_add"></span></small>
      </h4>
      <br>

      <!-- top -->
      <div ng-show="topicController.isVotable()" class="vote-container">
        <div ng-repeat="a in topicController.top">
          <div ng-hide="topicController.user_choice" class="vote-candidate">
            <div class="vote-candidate-name">
               {$ a.username $}
            </div>
            <div class="vote-candidate-button" ng-click="topicController.vote(a)">Vote</div>
          </div>
          <div ng-if="topicController.user_choice" class="voted-candidate">
            <div class="vote-candidate-name">{$ a.username $}</div>
            <progressbar max="100" value="topicController.calcVotes(a)">{$ topicController.calcVotes(a) $}%</progressbar>
          </div>
        </div>
      </div>

      <div ng-hide="topicController.topic.comments.length !== 0">
        <p ng-if="topicController.isLikable()" class="text-muted">No comments yet.</p>
      </div>
      <div ng-repeat="a in topicController.topic.comments" class="comment-item">
    
        <div class="comment-author">
          <span class="label label-default"><a href="/profile/{$ a.user.id $}">{$ a.user.username $}</a></span> <span class="comment-time" am-time-ago="a.date_add"></span> <span class="comment-reply-to" ng-if="a.q_comment_id">as comment to <span><a href="/profile/{$ a.q_comment_id.id $}">{$ a.q_comment_id.username $}</a></span></span>
          <div class="pull-right text-muted rating-block rating-block-small">
            <span class="rate"
              ng-class="{red: (a.sum < 0), green: (a.sum > 0) }">
              {$ a.sum || '0' $}
            </span>
            <i ng-click="topicController.likeComment(a, false)" class="fa fa-long-arrow-down"></i>
            <i ng-click="topicController.likeComment(a, true)" class="fa fa-long-arrow-up"></i>
          </div>
        </div>
        <div class="comment-text" ng-click="topicController.comment($event, a)">{$ a.text $}</div>
      </div>

      <hr>

      <form ng-if="topicController.isLikable()" name="commentForm" novalidate class="form" ng-submit="commentForm.$valid && topicController.submit()">
        {% csrf_token %}
        <div class="form-group">
          <textarea class="form-control comment-area" ng-model="topicController.text" required minlength="1" placeholder="Sample argument" rows="5" ng-enter="topicController.submit()"></textarea>
          <p class="help-block">Submit with `Ctrl+Enter` or `Shift+Enter`</p>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Comment</button> <div class="text-muted reply-to-block" ng-if="topicController.to">as a reply to <u class="reply-to-person">{$ topicController.to.username $}</u></div>
        </div>
        <p ng-if="topicController.error.text">{$ topicController.error.text $}</p>
      </form>

    </div>
    <div class="col-sm-2">
      <!-- <a href="#" class="pull-right">{$ topicController.topic.sum $}</a> -->
    </div>
  </div>
{% endblock %}